<div class="row" (submit)="addTask($event)">
    <form class="well">
        <div class="form-group">
            <input type="text"
                   [(ngModel)]="title"
                   name="title"
                   class="form-control"
                   placeholder="Add Task"/>
        </div>
    </form>
</div>

<div class="task-list">
    <div class="row" *ngFor="let task of tasks; let i = index" [attr.data-index]="i">
        <div class="col-sm-2 col-xs-2">
            <label><input type="checkbox"
                          [checked]="task.isDone" (click)="updateStatus(task)"></label>
        </div>
        <div class="col-sm-6 col-xs-6">
            {{task.title}}
        </div>
        <div class="col-sm-4 col-xs-4">
            <input type="button"
                   (click)="deleteTask(task._id, i)"
                   value="Delete"
                   class="btn btn-danger btn-sm"/>
        </div>
        <br/>
        <br/>
    </div>
</div>