<div class="container" data-ng-controller="TodoCtrl as todo">
  <div class="jumbotron">
    <h1 align="center">Todo Application</h1>
    <br>

    <div id="todo-form" class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">

      </div>
    </div>
  </div>
  <div id="todo-list" class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="checkbox" data-ng-repeat="singleTodo in todos">
        <label>
          <input type="checkbox" data-ng-click="todo.removeTodo(singleTodo)">
          {{ singleTodo.value }}
        </label>
      </div>
    </div>
  </div>
</div>
